/*
Matthew Bloemke
Revision Date: 10/26/2020
*/
* {
    /*Resets margins and padding. I was having trouble having the heading background color extend to the top and
    sides of the screen and this was the fix for now.*/
    margin: 0;
    padding: 0;
}
body {
    /*Sets the formating for the body, adds a background color*/
    min-width: 350px;
    background-color: gray;
    margin: 0;
    padding: 0;
}   
header{
    /*Adds background color to the header*/
    background-color: orangered ;
}
img {
    /*Centers the picture on the page*/
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 20%;
}
h1, p, h2, h3 {
    /*centers all of the text*/
    text-align: center;   
}
p, h2, h3 {
    /*sets font family for the file*/
    font-family: monospace;
}
h1 {
    /*font fomatting for the title*/
    font-family: "URW Chancery L", cursive;
    font-size: 60px;
}
h2 {
    /*changes font size for h2*/
    font-size: 40px;
}
h3 {
    /*changes font size for h3*/
    font-size: 35px;
}
p {
    /*formats all of the paragraphs*/
    margin: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 20px;
    font-size: 20px;
    line-height: 30px;
}
li {
    /*formats font, and centers the list*/
    font-family: monospace;
    font-size: 20px;
    width: 58%;
    margin-left: auto;
}
hr {
    /*formats the horizontal rules for the whole page*/
    height: 3px;
    border: none;
    background-color: orangered;
    margin-top: 10px;
    margin-bottom: 10px;
    
}
#specialHr {
    /*formats a special horizontal rule that adds more color to the heading*/
    height: 4px;
    background-color: gray;
}
/*link color formatting*/
a:link {color: blue;}
a:visited {color: orangered;}
a:hover { color: lime;}
a:active { color: white;}
